/*header style*/
header {
    text-align: center; 
    padding: 20px;
 }
 /*navigation menu style*/
 nav {
    text-align: center;
    word-spacing: 30px;
    Padding: 10px;
 }
 /*creating the two-column layout*/
 *{
    box-sizing: border-box;
 }
 .row {
    display: flex;
    flex-wrap: wrap;
 }
 .post-text-box {
    text-align: center;
    flex: 70%;
    padding: 20px;
 }
 .profile {
    flex: 70%;
    padding: 20px;
 }
/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    float: left;
    width: 33.33%;
    padding: 20px;
    border-radius: 50%S;
    
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  
 .profile h1 {
    text-align: center;
 } 
/*navigation bar style*/
nav {
    text-align: center;
    word-spacing: 30px;
    padding: 10px;
    background-color: #dfdfa5;
    font-family: Helvetica;
    
 }
 /*navigation bar button style*/
 nav a {
    color: #524a4a;
    text-decoration: none;
    font-size: larger;
 }


